/*.mui-btn,button{
	display: block;
	margin-top: 20px;
	height: 40px;
	
	width: 80px;
	vertical-align:middle;
}
.mui-btn-outlined{
	margin-left: 60px;
	display: inline-block;
}*/

			.mui-row.mui-fullscreen>[class*="mui-col-"] {
				height: 100%;
			}
			
			.mui-col-xs-3,
			.mui-col-xs-9 {
				overflow-y: auto;
				height: 100%;
			}
			
			.mui-segmented-control .mui-control-item {
				line-height: 50px;
				width: 100%;
				
			}
			
			.mui-control-content {
				display: block;
				
			}
			
			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
				background-color: #fff;
			}
		

